node_modules
.git
.gitignore
.github
.env
.env.*
README.md
postman
Dockerfile
compose.yml
compose.yaml
docker-compose.yml
docker-compose.yaml
logs.txt
*.log
coverage
dist
build
tests
.vscode
.idea
*.pem
*.key
*.bak
*.backup
